<h1><%= @team.name%></h1>
<% @team.characters.each do |character| %>
<li><%= character.name %></li>
<% end %>
<h2>Songs:</h2>
<ol>
  <% @team.common_songs.each do |song|%>
    <li><%= song %></li>
    <% end %>
</ol>


<h2>Team Stats</h2>
<p>Each time <%= @team.name %> performs a song, you will gain:</p>
<h3>Total XP: <%= @team.total_xp %></h3>
<p>Total Rhythm XP: <%= @team.total_rhythm_xp %></p>
<p>Total Instrument XP: <%= @team.total_vocal_xp %></p>
<p>Total Vocal XP: <%= @team.total_comedy_xp %></p>
<p>Total Comedy XP: <%= @team.total_instrument_xp %></p>

<h2>Mana Cost: <%= @team.total_cost%></h2>

<h3><%= link_to "Make Another Team!", new_team_path %></h3>
