<h1>Songs and Tunes</h1>

<h2>Tunes (Instrumental)</h2>
<% @songs.each do |song| %>
  <% if song.category == "Tune" %>
    <li><%= link_to song.name, song_path(song)%></li>
  <% end %>
<% end %>

<h2>Songs (Vocal and/or Comedy)</h2>
<% @songs.each do |song| %>
  <% if song.category == "Song" %>
    <li><%= link_to song.name, song_path(song)%></li>
  <% end %>
<% end %>
<h2><%= link_to "Most Well known songs", "/most_well_known" %></h2>


<h1>Add A New Song</h1>
<%= form_for @song, :html => {id: "new-song-form"} do |t| %>
  <%= t.label :Song_Name %>
  <%= t.text_field :name %><br>

  <label>Tune (instrumnetal only) or Song?</label>
  <%= t.select :category, ["Tune", "Song"] %><br>
  <%= t.label "Characters who know this song:" %><br>
    <%= t.collection_check_boxes :character_ids, @characters, :id, :name do |b|%>
      <%= b.label %>
      <%= b.check_box %><br>
    <% end %>
  <%= t.submit "Add Song" %>
<% end %>
