<h1>Add A New Song</h1>
<%= form_for @song do |t| %>
  <%= t.label :Song_Name %>
  <%= t.text_field :name %><br>

  <label>Tune (instrumnetal only) or Song?</label>
  <%= t.select :category, ["Tune", "Song"] %><br>
  <%= t.label "Characters who know this song:" %><br>
    <%= t.collection_check_boxes :character_ids, @characters, :id, :name do |b|%>
      <%= b.label %>
      <%= b.check_box %><br>
    <% end %>
  <%= t.submit "Add Song" %>
<% end %>
