<h1>Add A New Song</h1>
<%= form_for @song do |t| %>
<%= t.label :Song_Name %>
<%= t.text_field :name %><br>

<label>Tune (instrumnetal only) or Song?</label>
<%= t.select :category, ["Tune", "Song"] %>
<%= t.collection_select :characters, @characters, :id, :name %>

<%= t.submit "Add Song" %>
<% end %>
