  <h1><%= @character.name %></h1>

  <h3>STATS & ABILITIES</h3>
  <li>Rhythmic: <%= @character.rhythm_score %></li>
  <li>Instrumental: <%= @character.instrument_score %></li>
  <li>Vocal: <%= @character.vocal_score %></li>
  <li>Comedic: <%= @character.comedy_score %></li>

  <li><strong>Cost to play: <%= @character.music_mana_cost %></strong></li>
  <h3>Songs Known:</h3>
  <% @character.songs.each do |song| %>
  <li><%= song.name %></li>
  <% end %>
  <%= link_to "#{@character.name}'s Comment Page", character_comments_path(@character) %><br>

  <%= image_tag "#{@character.name}.png", :alt => "#{@character.name}'s card" %>
