<!DOCTYPE html>
<html>
  <head>
    <title>MusicTheGatheringChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome to <strong>Music The Gathering Challenge!</strong></h1>
    <h2>An interactive RenFaire musician fan site</h2><br>
    <%= yield %>
  </body>
</html>
