<!DOCTYPE html>
<html>
  <head>
    <title>MusicTheGatheringChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div id="nav">
    <% if @current_user %>
      <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
      <a class="navbar-brand" href="<%= characters_path %>"/>Characters</a>
      <a class="navbar-brand" id="songs-index" href="<%= songs_path %>"/>Songs</a>
      <a class="navbar-brand" href="<%= teams_path %>"/>Teams</a>
    <% end %>
      </div>

    <div class="wrapper">
    <h1>Welcome to Music The Gathering Challenge!</h1>
      <h3>An interactive RenFaire musician fan site</h3>
    </div>

    <div class="wrapper">
      <%= yield %>
    </div>


    <% if @current_user %>
    <div class="branding">
      <h3><%= link_to "Log Out", signout_path, method: :delete %></h3>
    <% end %>
    </div>
  </body>
</html>
