<!DOCTYPE html>
<html>
  <head>
    <title>MusicTheGatheringChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
    <% if @current_user %>
      <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
      <a class="navbar-brand" href="<%= characters_path %>"/>Characters</a>
      <a class="navbar-brand" href="<%= songs_path %>"/>Songs</a>
      <a class="navbar-brand" href="<%= teams_path %>"/>Teams</a>
    <% end %>
      </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<h1>Welcome to <strong>Music The Gathering Challenge!</strong></h1>
<h2>An interactive RenFaire musician fan site</h2><br>
    <%= yield %>

    <% if @current_user %>
  <h3><%= link_to "Log Out", signout_path, method: :delete %></h3>
  <% end %>
  </body>
</html>
